.enabled_header
{
    color: blue;
    text-align: center;
}

.disabled_header
{
    color: grey;
    text-align: center;
}

.footer
{
    text-align:center;
    position: sticky;
    bottom: 0;
    background-color: white;
    margin-top: auto;
    z-index: 100;
}

.smiley_start
{
    text-align: center;
    padding: 5px;
    font-size: 250px;
    color: blue;
}

.smiley_good
{
    text-align: center;
    padding: 5px;
    font-size: 250px;
    color: green;
}

.smiley_bad
{
    text-align: center;
    padding: 5px;
    font-size: 250px;
    color: red;
}

.under_smiley
{
    text-align: center;

}

.text_good
{
    color: green;
}

.text_bad
{
    color: red;
}

body nav
{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}